<html>
<head>
    <title>Indian Students Association -- About Us</title>
    <link href="stylesheet.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap-dropdown.js"></script>
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
        <style>
            body {
                padding-top: 0px; /* When using the navbar-top-fixed */
            }
            </style>
        <link href="bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <script type="text/javascript">
                $(document).ready(function () {
                                  $('.dropdown-toggle').dropdown();
                                  });
    </script>
</head>


<body background="">
    
    <div class="navbar navbar-inverse navbar-fixed-top center">
        <div class="navbar-inner">
            <div class="container">
                <ul class="nav">
                    <li><a href="/">Home</a></li>
                    <li class="active"><a href="/about">About</a></li>
                    <li class="dropdown" id="accountmenu">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Events<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/raas">Raas Garba</a></li>
							<li><a href="/diwali">Diwali Banquet</a></li>
							<li><a href="/taste">Taste of India</a></li>
							<li><a href="/holi">Holi</a></li>
                        </ul>
                    </li>
                    <li><a href="/membership">Join Us</a></li>
                    <li class="dropdown" id="accountmenu">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Media<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/photos">Photo Gallery</a></li>
                            <li>&nbsp&nbsp&nbsp&nbsp&nbspVideos</li>
                        </ul>
                    </li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/council">Council</a></li>
                    <!-- <li class="dropdown" id="accountmenu">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Tutorials<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">PHP</a></li>
                            <li><a href="#">MySQL</a></li>
                            <li class="divider"></li>
                            <li><a href="#">JavaScript</a></li>
                            <li><a href="#">HTML5</a></li>
                        </ul>
                    </li> -->
                </ul>
            </div>
        </div>
    </div>
    <div id="belowNavContainer">
    <div class="heading">About ISA</div>
    <div class="description">
        <center><img width="500" src="img/isalogo.jpg" style="position: relative; top:-50px; z-index: -1;"></center>
		<div style="position: relative; top:-80px;">
        <p style="text-indent:30px">
        ISA is an on-campus student organization conceived with the objective of representing India and the Indo-American community to the UC Berkeley campus in particular and the Bay Area in general. One in every six individuals born on Earth is an Indian, yet India as a concept is not limited to the boundaries of the nation-state that today bears its name. India is verily a timeless civilization, firmly established upon the bedrock of unity in diversity and continuity amidst change.
        </p>
        <p style="text-indent:30px">
        Throughout the course of world history India has made significant contributions to humanity through science, mathematics, spirituality, literature and polity. It has given the world leaders and role models including Mahatma Gandhi, Mother Teresa, Kabir, and countless others. It is with this firm understanding that ISA intends to present India at the footsteps of UC Berkeley.
        </p>
		</div>
    </div>
    </div>
    
    
</body>
</html>