<html>
<head>
    <title>Indian Students Association -- Photos</title>
    <link href="stylesheet.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap-dropdown.js"></script>
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
        <style>
            body {
                padding-top: 0px; /* When using the navbar-top-fixed */
            }
            </style>
        <link href="bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <script type="text/javascript">
                $(document).ready(function () {
                                  $('.dropdown-toggle').dropdown();
                                  });
    </script>
</head>


<body background="">
    
    <div class="navbar navbar-inverse navbar-fixed-top center">
        <div class="navbar-inner">
            <div class="container">
                <ul class="nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li class="dropdown" id="accountmenu">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Events<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/raas">Raas Garba</a></li>
							<li><a href="/diwali">Diwali Banquet</a></li>
							<li><a href="/holi">Holi</a></li>
                        </ul>
                    </li>
                    <li><a href="/membership">Membership</a></li>
                    <li class="dropdown" id="accountmenu">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Media<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/photos">Photo Gallery</a></li>
                            <li><a href="/videos">Videos</a></li>
                        </ul>
                    </li>
                    <li><a href="/contact">Contact</a></li>
                    <li class="active"><a href="/council">Council</a></li>
                    <!-- <li class="dropdown" id="accountmenu">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Tutorials<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">PHP</a></li>
                            <li><a href="#">MySQL</a></li>
                            <li class="divider"></li>
                            <li><a href="#">JavaScript</a></li>
                            <li><a href="#">HTML5</a></li>
                        </ul>
                    </li> -->
                </ul>
            </div>
        </div>
    </div>
    <div id="belowNavContainer">
    	<div class="heading">Meet the Lovely Council</div>


    	<table cellpadding="50" cellspacing="30" width="100%">

	<!-- IMAGES FOR ROW 1 -->
	<tr align="center">
		<td valign="center" width="33%">

			<img src="council/resized_sukhia.jpg" border="2" height="170" width="250" title="Aditya Sukhia"> <br>Aditya Sukhia - Co-President

		</td>
		<td valign="center" width="33%">

			<img src="council/resized_neha.jpg" border="2" height="170" width="250" title="Neha Harlalka"> <br> Neha Harlalka - Co-President

		</td>
		<td valign="center" width="33%">

			<img src="council/resized_bonda.jpg" border="2" height="170" width="250" title="Aaditya Vicram Gupta"> <br> Aaditya Vicram Gupta - Vice-President

		</td>
	</tr>


	<!-- IMAGES FOR ROW 2 -->
	<tr align="center">
		<td valign="center" width="33%">

			<img src="council/resized_ankita.jpg" border="2" height="170" width="250" title="Ankita Safaya"> <br> Ankita Safaya - Co-Treasurer

		</td>
		<td valign="center" width="33%">

			<img src="council/resized_apaar.jpg" border="2" height="170" width="250" title="Apaar Bansal"> <br> Apaar Bansal - Co-Treasurer

		</td>
		<td valign="center" width="33%">

			<img src="council/resized_hardik.jpg" border="2" height="170" width="250" title="Hardik Agrawal"> <br> Hardik Agrawal - Co-Tech Director

		</td>
	</tr>


	<!-- IMAGES FOR ROW 3 -->
	<tr align="center">
		<td valign="center" width="33%">

			<img src="council/resized_jesar.jpg" border="2" height="170" width="250" title="Jesar Shah"> <br> Jesar Shah - Co-Publicity

		</td>
		<td valign="center" width="33%">

			<img src="council/resized_navya.jpg" border="2" height="170" width="250" title="Navya Putta"> <br> Navya Putta - Director of External Affairs

		</td>
		<td valign="center" width="33%">

			<img src="council/resized_pranati.jpg" border="2" height="170" width="250" title="Pranati Reddy"> <br> Pranati Reddy - Director of Internal Affairs

		</td>
	</tr>

	<!-- IMAGES FOR ROW 4 -->
	<tr align="center">
		<td valign="center" width="33%">

			<img src="council/resized_priya.jpg" border="2" height="170" width="250" title="Priya Dugar"> <br> Priya Dugar - Secretary

		</td>
		<td valign="center" width="33%">

			<img src="council/resized_ripika.jpg" border="2" height="170" width="250" title="Ripika Bedi"> <br> Ripika Bedi - Co-Publicity

		</td>
		<td valign="center" width="33%">

			<img src="council/resized_sachi.jpg" border="2" height="170" width="250" title="Sachi Holla"> <br> Sachi Holla - Fundraising Coordinator

		</td>
	</tr>
	
	<tr align="center">
		<td valign="center" width="33%">

			<img src="council/resized_sumeet.jpg" border="2" height="170" width="250" title="Sumeet Sharma"> <br> Sumeet Sharma - Co-Tech Director

		</td>
		<td valign="center" width="33%">



		</td>
		<td valign="center" width="33%">



		</td>
	</tr>

	</table>



    </div>

</body>


</html>