<html>
<head>
    <title>Indian Students Association -- Photos</title>
    <link href="stylesheet.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap-dropdown.js"></script>
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
        <style>
            body {
                padding-top: 0px; /* When using the navbar-top-fixed */
            }
            </style>
        <link href="bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <script type="text/javascript">
                $(document).ready(function () {
                                  $('.dropdown-toggle').dropdown();
                                  });
    </script>
</head>


<body background="">
    
    <div class="navbar navbar-inverse navbar-fixed-top center">
        <div class="navbar-inner">
            <div class="container">
                <ul class="nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li class="dropdown" id="accountmenu">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Events<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/raas">Raas Garba</a></li>
							<li><a href="/diwali">Diwali Banquet</a></li>
							<li><a href="/taste">Taste of India</a></li>
							<li><a href="/holi">Holi</a></li>
                        </ul>
                    </li>
                    <li><a href="/membership">Join Us</a></li>
                    <li class="dropdown" id="accountmenu">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Media<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/photos">Photo Gallery</a></li>
                            <li>&nbsp&nbsp&nbsp&nbsp&nbspVideos</li>
                        </ul>
                    </li>
                    <li><a href="/contact">Contact</a></li>
                    <li class="active"><a href="/council">Council</a></li>
                    <!-- <li class="dropdown" id="accountmenu">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Tutorials<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">PHP</a></li>
                            <li><a href="#">MySQL</a></li>
                            <li class="divider"></li>
                            <li><a href="#">JavaScript</a></li>
                            <li><a href="#">HTML5</a></li>
                        </ul>
                    </li> -->
                </ul>
            </div>
        </div>
    </div>
    <div id="belowNavContainer">
    	<div class="heading">Meet ISA's Council</div>


    	<table cellpadding="50" cellspacing="30" width="100%">

	<!-- IMAGES FOR ROW 1 -->
	<tr align="center">
		<td valign="center" width="33%">

			<img src="https://scontent-a-pao.xx.fbcdn.net/hphotos-prn2/1209235_10153203225155368_1337246473_n.jpg" border="2" height="170" width="250" title="Hardik Agrawal"> <br> Hardik Agrawal - Co-President

		</td>
		<td valign="center" width="33%">

			<img src="https://scontent-a.xx.fbcdn.net/hphotos-ash3/1150771_10153203228000368_1598194630_n.jpg" border="2" height="170" width="250" title="Neha Harlalka"> <br> Neha Harlalka - Co-President

		</td>
		<td valign="center" width="33%">

			<img src="https://scontent-a-sjc.xx.fbcdn.net/hphotos-prn1/1235011_10153203230955368_1023073242_n.jpg" border="2" height="170" width="250" title="Navya Putta"> <br> Navya Putta - Vice President

		</td>

	</tr>


	<!-- IMAGES FOR ROW 2 -->
	<tr align="center">
		<td valign="center" width="33%">

			<img src="https://scontent-b.xx.fbcdn.net/hphotos-prn1/1234354_10153203255135368_1963767933_n.jpg" border="2" height="170" width="250" title="Ankita Safaya"> <br> Ankita Safaya - Co-Treasurer

		</td>
		<td valign="center" width="33%">

			<img src="/images/apaar.jpg" border="2" height="170" width="250" title="Apaar Bansal"> <br> Apaar Bansal - Events Director

		</td>
		
	

		<td valign="center" width="33%">

			<img src="/images/ravina.jpg" border="2" height="170" width="250" title="Ravina Pattni"> <br> Ravina Pattni - Associate Treasurer

		</td>

	</tr>


	<!-- IMAGES FOR ROW 3 -->
	<tr align="center">
		

		<td valign="center" width="33%">


			<img src="/images/jash.jpg" border="2" height="170" width="250" title="Jash Mahipal"> <br> Jash Mahipal - Secretary

		</td>
		<td valign="center" width="33%">

			
						<img src="https://scontent-a-pao.xx.fbcdn.net/hphotos-prn1/q71/s720x720/1235435_10153203231095368_695990923_n.jpg" border="2" height="170" width="250" title="Reina Shah"> <br> Reina Shah - Co-Publicity Director

		</td>
		<td valign="center" width="33%">

			<img src="/images/ripika.jpg" border="2" height="170" width="250" title="Ripika Bedi"> <br> Ripika Bedi - Co-Publicity Director

		</td>
	</tr>

	<!-- IMAGES FOR ROW 4 -->
	<tr align="center">
		<td valign="center" width="33%">

			<img src="https://scontent-a.xx.fbcdn.net/hphotos-frc1/q71/s720x720/998102_10151676932359001_1977854185_n.jpg" border="2" height="170" width="250" title="Sumeet Sharma"> <br> Sumeet Sharma - Co-Tech Director

		</td>
		
		<td valign="center" width="33%">

			<img src="https://scontent-b-sjc.xx.fbcdn.net/hphotos-frc3/1238939_10153203231755368_51867309_n.jpg" border="2" height="170" width="250" title="Namrata Das"> <br> Namrata Das - Co-Tech Director

		</td>
		<td valign="center" width="33%">

			<img src="\images\abhishek.jpg" border="2" height="170" width="250" title="Abhishek Gupta"> <br> Abhishek Gupta - Co-Tech Director

		</td>	
	</tr>
	

	<!-- IMAGES FOR ROW 5 -->
	<tr align="center">
		<td valign="center" width="33%">

						<img src="https://scontent-a.xx.fbcdn.net/hphotos-prn2/q71/s720x720/1185688_10153203246735368_708071367_n.jpg" border="2" height="170" width="250" title="Priya Dugar"> <br> Priya Dugar - Co-Fundraising

		</td>
		
		<td valign="center" width="33%">

			<img src="/images/utkarsh.jpg" border="2" height="170" width="250" title="Utkarsh Bansal"> <br> Utkarsh Bansal - Associate Fundraising Coordinator

		</td>
		<td valign="center" width="33%">

			<img src="https://scontent-a.xx.fbcdn.net/hphotos-ash3/1174788_10153203260865368_2034293084_n.jpg" border="2" height="170" width="250" title="Madhav Vohra"> <br> Madhav Vohra - Co-Fundraising Coordinator

		</td>
		
	</tr>




	</table>



    </div>

</body>


</html>