<!DOCTYPE html>
<html>
  <head>
    <title>Indian Student Association</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
	 <link href="stylesheet.css" rel="stylesheet" type="text/css"/>
    <link href="bootstrap3/css/bootstrap.min.css" rel="stylesheet" media="screen">
	
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="bootstrap3/js/bootstrap.js"></script>
    <script type="text/javascript" src="bootstrap3/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="bootstrap3/js/bootstrap-dropdown.js"></script>
	        <link href="bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
		<script src="js/slides.min.jquery.js"></script>
  </head>
  
  <body>
		  <img height="40" width="70" src="/img/translogo.gif" style="position:fixed; top:5px; left:20px; z-index: 3;"/>
		  
		  <!-- NAVIGATION BAR-->
		  <nav class="navbar-wrapper transparent navbar-inverse navbar-fixed-top" role="navigation" style="background-color:rgba(0,0,0,0.7) !important; z-index: 2;">
		    <div class="container-fluid">
		      <!-- Brand and toggle get grouped for better mobile display -->
		      <div class="navbar-header">
		        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		          <span class="sr-only">Toggle navigation</span>
		          <span class="icon-bar"></span>
		          <span class="icon-bar"></span>
		          <span class="icon-bar"></span>
		        </button>
		        <a class="navbar-brand" href="#"></a>
		      </div>

		      <!-- Collect the nav links, forms, and other content for toggling -->
		      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				  <div style="width:35%; float:left; color:black;">|</div>
		        <ul style="float:left;" class="nav navbar-nav navbar-left">
		          <li><a href="/">Home</a></li>
				  <li><a href="/photos">Photos</a></li>
		          <li class="dropdown">
		            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Events <b class="caret"></b></a>
		            <ul class="dropdown-menu">
		              <li><a href="/raas">Raas Garba</a></li>
		              <li><a href="/diwali">Diwali</a></li>
		              <li><a href="/taste">Taste of India</a></li>
					  <li><a href="/holi">Holi</a></li>
		            </ul>
		          </li>
				  <li><a href="/council">Council</a></li>
		        </ul>
		      </div><!-- /.navbar-collapse -->
		    </div><!-- /.container-fluid -->
		  </nav>
		  
		  <!--
		  <nav class="navbar-wrapper navbar-default navbar-fixed-top" role="navigation" style="background-color:rgba(0,0,0,0.7); z-index: 2;">
		          <div class="container">
		            <div class="navbar-header">
		             	
		            </div>
					<div class="navbar-links">
		            	<div class="navbar-header">
		              	  <a class="navbar-brand" href="/">Home</a>
		            	</div>
		            	<div class="navbar-header">
		              <a class="navbar-brand" href="/photos">Photos</a>
		            	</div>
		            	<div class="navbar-header">
		            		<a class="navbar-brand" href="#">Events</a>
		            	</div>
		            	<div class="navbar-header">
		            		<a class="navbar-brand" href="/council">Council</a>
		            	</div>
					</div>	
		          </div>
		  
	  </nav> -->

			   <!-- END NAVIGATION BAR-->

   <div id="belowNavContainer">
    
	

   <div class="heading">Diwali Banquet</div>
   <div class="event_image_preview">
   	<center>
   	<img width="24%" src="/img/diwali1.jpg"/>
   	<img width="24%" src="/img/diwali2.jpg"/>
   	<img width="24%" src="/img/diwali3.jpg"/>
   	<img width="24%" src="/img/diwali4.jpg"/>
   	</center><br>
       <p style="width: 50%; margin-left: auto; margin-right: auto ;"><a target="_blank" href="https://www.facebook.com/events/544493522311884/"><b style="font-size:18px; font-weight:bold;">Facebook Event Page</b></a><br></p>
   	<p style="width: 50%; margin-left: auto; margin-right: auto ;">
    
       <b style="font-size:18px; font-weight:bold;">Diwali festival</b><br>
   		Known alternatively as Deepavali in South India, Diwali is considered the Hindu festival of lights, where diyas are lit to signify the triumph of good over evil. The festival is closely correlated with the Hindu New Year, and is usually celebrated by donning new clothes, visiting with relatives, and traditional pujas to the goddess Lakshmi. It is one of the few holidays within Hinduism observed throughout the subcontinent.

   	<br><br>	As with most holidays, they are numerous stories within Hindu lore that explain the celebration of Diwali. These include: the return of Shri Ram to his home in Ayodhya, following a fourteen year exile; the vanquishing of the demon Narakasur by Satyabhama, one of the wives of Krishna; the austerities observed by the goddess Shakti to her consort, Shiva; Krishna's defeat of Indra, the king of the gods.
		
   	</p>
	
	
   </div>
   </div>
    
  
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>