<html>
<head>
    <title>Indian Students Association -- Diwali Banquet</title>
    <link href="stylesheet.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap-dropdown.js"></script>
    <script src="themes/1/js-image-slider.js" type="text/javascript"></script>
	<link href="themes/1/js-image-slider.css" rel="stylesheet" type="text/css" />
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
        <style>
            body {
                padding-top: 0px; /* When using the navbar-top-fixed */
            }
            </style>
        <link href="bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <script type="text/javascript">
                $(document).ready(function () {
                                  $('.dropdown-toggle').dropdown();
                                  });
    </script>
	<script src="js/slides.min.jquery.js"></script>



</head>


<body background="">
    
    <div class="navbar navbar-inverse navbar-fixed-top center">
        <div class="navbar-inner">
            <div class="container">
                <ul class="nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li class="dropdown" id="accountmenu">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Events<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/raas">Raas Garba</a></li>
							<li><a href="/diwali">Diwali Banquet</a></li>
							<li><a href="/taste">Taste of India</a></li>
							<li><a href="/holi">Holi</a></li>
                        </ul>
                    </li>
                    <li><a href="/membership">Join Us</a></li>
                    <li class="dropdown" id="accountmenu">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Media<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/photos">Photo Gallery</a></li>
                            <li>&nbsp&nbsp&nbsp&nbsp&nbspVideos</li>
                        </ul>
                    </li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/council">Council</a></li>
                    <!-- <li class="dropdown" id="accountmenu">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Tutorials<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">PHP</a></li>
                            <li><a href="#">MySQL</a></li>
                            <li class="divider"></li>
                            <li><a href="#">JavaScript</a></li>
                            <li><a href="#">HTML5</a></li>
                        </ul>
                    </li> -->
                </ul>
            </div>
        </div>
    </div>
    
    
    
    

		
		    


<div id="belowNavContainer">
    

<div class="heading">Diwali Banquet</div>
<div class="event_image_preview">
	<center>
	<img width="24%" src="/img/diwali1.jpg"/>
	<img width="24%" src="/img/diwali2.jpg"/>
	<img width="24%" src="/img/diwali3.jpg"/>
	<img width="24%" src="/img/diwali4.jpg"/>
	</center><br>
    <p style="width: 50%; margin-left: auto; margin-right: auto ;"><a href="https://www.facebook.com/events/544493522311884/"><b style="font-size:18px; font-weight:bold;">Facebook Event Page</b></a><br></p>
	<p style="width: 50%; margin-left: auto; margin-right: auto ;"><b style="font-size:18px; font-weight:bold;">Diwali festival</b><br>
		Known alternatively as Deepavali in South India, Diwali is considered the Hindu festival of lights, where diyas are lit to signify the triumph of good over evil. The festival is closely correlated with the Hindu New Year, and is usually celebrated by donning new clothes, visiting with relatives, and traditional pujas to the goddess Lakshmi. It is one of the few holidays within Hinduism observed throughout the subcontinent.

	<br><br>	As with most holidays, they are numerous stories within Hindu lore that explain the celebration of Diwali. These include: the return of Shri Ram to his home in Ayodhya, following a fourteen year exile; the vanquishing of the demon Narakasur by Satyabhama, one of the wives of Krishna; the austerities observed by the goddess Shakti to her consort, Shiva; Krishna's defeat of Indra, the king of the gods.
		
	</p>
	
	
</div>






    
</div>

</body>
</html>


