<!DOCTYPE html>
<html>
  <head>
    <title>Indian Student Association</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
	 <link href="stylesheet.css" rel="stylesheet" type="text/css"/>
    <link href="bootstrap3/css/bootstrap.min.css" rel="stylesheet" media="screen">
	
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="bootstrap3/js/bootstrap.js"></script>
    <script type="text/javascript" src="bootstrap3/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="bootstrap3/js/bootstrap-dropdown.js"></script>
	        <link href="bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
	    <script type="text/javascript">
				
		var holiimages = ['https://sphotos-b-sjc.xx.fbcdn.net/hphotos-prn1/s720x720/561919_531518163557505_426635721_n.jpg',

	'https://sphotos-b-sjc.xx.fbcdn.net/hphotos-ash3/s720x720/28145_531519436890711_931402432_n.jpg',

	'https://sphotos-b-sjc.xx.fbcdn.net/hphotos-prn1/s720x720/45315_531518486890806_687557428_n.jpg',

	'https://sphotos-a-sjc.xx.fbcdn.net/hphotos-prn1/s720x720/525364_531525063556815_1705106001_n.jpg',

	'https://sphotos-a-sjc.xx.fbcdn.net/hphotos-prn1/s720x720/59237_531526483556673_466647377_n.jpg',

	'https://sphotos-b-sjc.xx.fbcdn.net/hphotos-ash3/s720x720/554254_531528496889805_2105281165_n.jpg',

	'https://sphotos-a-sjc.xx.fbcdn.net/hphotos-prn1/s720x720/533965_531528603556461_971366621_n.jpg',

	'https://sphotos-a-sjc.xx.fbcdn.net/hphotos-prn1/s720x720/532885_531518903557431_1267883130_n.jpg',

	'https://sphotos-b-sjc.xx.fbcdn.net/hphotos-prn1/s720x720/603939_531525176890137_1439586656_n.jpg',

	'https://sphotos-b-sjc.xx.fbcdn.net/hphotos-prn1/s720x720/71424_531525470223441_914561717_n.jpg',

	'https://sphotos-b-sjc.xx.fbcdn.net/hphotos-ash3/s720x720/541672_531519656890689_829839582_n.jpg',

	'https://sphotos-b-sjc.xx.fbcdn.net/hphotos-frc1/s720x720/603950_531526530223335_1386799797_n.jpg',

	'https://sphotos-a-sjc.xx.fbcdn.net/hphotos-ash3/s720x720/644296_531526946889960_525208891_n.jpg',

	'https://sphotos-a-sjc.xx.fbcdn.net/hphotos-ash3/s720x720/11657_531527953556526_1514523190_n.jpg',

	'https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-ash3/s720x720/644594_531528186889836_1615504693_n.jpg',

	'https://sphotos-a-sjc.xx.fbcdn.net/hphotos-ash3/s720x720/526659_531526273556694_160950237_n.jpg',

	'https://sphotos-a-sjc.xx.fbcdn.net/hphotos-ash3/s720x720/549104_531514613557860_541128840_n.jpg',

	'https://sphotos-a-sjc.xx.fbcdn.net/hphotos-prn1/s720x720/64406_531517820224206_631386273_n.jpg',

	'https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-prn1/s720x720/524088_531518183557503_1964436366_n.jpg',

	'https://sphotos-a-sjc.xx.fbcdn.net/hphotos-prn1/s720x720/30561_531520210223967_1720830837_n.jpg',

	'https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-prn1/s720x720/11734_531514773557844_56334499_n.jpg',

	'https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-ash3/s720x720/733863_531515126891142_457640287_n.jpg',

	'https://sphotos-b-sjc.xx.fbcdn.net/hphotos-ash3/s720x720/15180_531515080224480_410978661_n.jpg',

	'https://sphotos-a-sjc.xx.fbcdn.net/hphotos-ash3/s720x720/602164_531518000224188_949495275_n.jpg',

	'https://sphotos-b-sjc.xx.fbcdn.net/hphotos-ash3/s720x720/529498_531518056890849_1560075809_n.jpg',

	'https://sphotos-b-sjc.xx.fbcdn.net/hphotos-prn1/s720x720/10995_531517313557590_790911182_n.jpg',

	'https://sphotos-b-sjc.xx.fbcdn.net/hphotos-prn1/s720x720/71458_531519046890750_1403661442_n.jpg',

	'https://sphotos-b-sjc.xx.fbcdn.net/hphotos-ash3/s720x720/532144_531518116890843_1611073632_n.jpg',

	'https://sphotos-b-sjc.xx.fbcdn.net/hphotos-prn1/s720x720/13898_531518766890778_1763768958_n.jpg',

	'https://sphotos-b-sjc.xx.fbcdn.net/hphotos-prn1/s720x720/560225_531518566890798_112796849_n.jpg',

	'https://sphotos-b-sjc.xx.fbcdn.net/hphotos-ash3/s720x720/549076_531516523557669_2086934667_n.jpg'
	]
	
	                $(document).ready(function () {
									var i;
									for (i=0;i<holiimages.length;i++) {
										$("#photo_gallery_container").append("<a href=\""+ holiimages[i] +"\" ><img style=\"padding-right:2px; padding-left:2px; padding-bottom:4px\" width=\"280\" height=\"204\" src=\""+holiimages[i]+"\"\></a>")
									}

	                });
	    </script>
		<script src="js/slides.min.jquery.js"></script>
  </head>
  
  <body>
		  <img height="45" width="80" src="/img/banner.png" style="position:fixed; top:5px; left:20px; z-index: 3;"/>
		  
		  <!-- NAVIGATION BAR-->
		  <nav class="navbar-wrapper transparent navbar-inverse navbar-fixed-top" role="navigation" style="background-color:rgba(0,0,0,0.7) !important; z-index: 2;">
		    <div class="container-fluid">
		      <!-- Brand and toggle get grouped for better mobile display -->
		      <div class="navbar-header">
		        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		          <span class="sr-only">Toggle navigation</span>
		          <span class="icon-bar"></span>
		          <span class="icon-bar"></span>
		          <span class="icon-bar"></span>
		        </button>
		        <a class="navbar-brand" href="#"></a>
		      </div>

		      <!-- Collect the nav links, forms, and other content for toggling -->
		      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				  <div style="width:35%; float:left; color:black;">|</div>
		        <ul style="float:left;" class="nav navbar-nav navbar-left">
		          <li><a href="/">Home</a></li>
				  <li><a href="/photos">Photos</a></li>
		          <li class="dropdown">
		            <a href="/events" class="dropdown-toggle" data-toggle="dropdown">Events <b class="caret"></b></a>
		            <ul class="dropdown-menu">
		              <li><a href="/raas">Raas Garba</a></li>
		              <li><a href="/diwali">Diwali</a></li>
		              <li><a href="/taste">Taste of India</a></li>
					  <li><a href="/holi">Holi</a></li>
		            </ul>
		          </li>
				  <li><a href="/council">Council</a></li>
		        </ul>
		      </div><!-- /.navbar-collapse -->
		    </div><!-- /.container-fluid -->
		  </nav>
		  
		  <!--
		  <nav class="navbar-wrapper navbar-default navbar-fixed-top" role="navigation" style="background-color:rgba(0,0,0,0.7); z-index: 2;">
		          <div class="container">
		            <div class="navbar-header">
		             	
		            </div>
					<div class="navbar-links">
		            	<div class="navbar-header">
		              	  <a class="navbar-brand" href="/">Home</a>
		            	</div>
		            	<div class="navbar-header">
		              <a class="navbar-brand" href="/photos">Photos</a>
		            	</div>
		            	<div class="navbar-header">
		            		<a class="navbar-brand" href="#">Events</a>
		            	</div>
		            	<div class="navbar-header">
		            		<a class="navbar-brand" href="/council">Council</a>
		            	</div>
					</div>	
		          </div>
		  
	  </nav> -->

			   <!-- END NAVIGATION BAR-->

    <div id="belowNavContainer">


	<div class="heading">Holi 2013</div>

		<div id="photo_gallery_container">
	
	
	

    </div>
    
  
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>