<!DOCTYPE html>
<html>
  <head>
    <title>Indian Student Association</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
	 <link href="stylesheet.css" rel="stylesheet" type="text/css"/>
    <link href="bootstrap3/css/bootstrap.min.css" rel="stylesheet" media="screen">
	
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="bootstrap3/js/bootstrap.js"></script>
    <script type="text/javascript" src="bootstrap3/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="bootstrap3/js/bootstrap-dropdown.js"></script>
	        <link href="bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
		<script src="js/slides.min.jquery.js"></script>
  </head>
  
  <body>
		  <img height="45" width="80" src="/img/banner.png" style="position:fixed; top:5px; left:20px; z-index: 3;"/>
		  
		  <!-- NAVIGATION BAR-->
		  <nav class="navbar-wrapper transparent navbar-inverse navbar-fixed-top" role="navigation" style="background-color:rgba(0,0,0,0.7) !important; z-index: 2;">
		    <div class="container-fluid">
		      <!-- Brand and toggle get grouped for better mobile display -->
		      <div class="navbar-header">
		        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		          <span class="sr-only">Toggle navigation</span>
		          <span class="icon-bar"></span>
		          <span class="icon-bar"></span>
		          <span class="icon-bar"></span>
		        </button>
		        <a class="navbar-brand" href="#"></a>
		      </div>

		      <!-- Collect the nav links, forms, and other content for toggling -->
		      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				  <div style="width:35%; float:left; color:black;">|</div>
		        <ul style="float:left;" class="nav navbar-nav navbar-left">
		          <li><a href="/">Home</a></li>
				  <li><a href="/photos">Photos</a></li>
		          <li class="dropdown">
		            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Events <b class="caret"></b></a>
		            <ul class="dropdown-menu">
		              <li><a href="/raas">Raas Garba</a></li>
		              <li><a href="/diwali">Diwali</a></li>
		              <li><a href="/taste">Taste of India</a></li>
					  <li><a href="/holi">Holi</a></li>
		            </ul>
		          </li>
				  <li><a href="/council">Council</a></li>
		        </ul>
		      </div><!-- /.navbar-collapse -->
		    </div><!-- /.container-fluid -->
		  </nav>
		  
		  <!--
		  <nav class="navbar-wrapper navbar-default navbar-fixed-top" role="navigation" style="background-color:rgba(0,0,0,0.7); z-index: 2;">
		          <div class="container">
		            <div class="navbar-header">
		             	
		            </div>
					<div class="navbar-links">
		            	<div class="navbar-header">
		              	  <a class="navbar-brand" href="/">Home</a>
		            	</div>
		            	<div class="navbar-header">
		              <a class="navbar-brand" href="/photos">Photos</a>
		            	</div>
		            	<div class="navbar-header">
		            		<a class="navbar-brand" href="#">Events</a>
		            	</div>
		            	<div class="navbar-header">
		            		<a class="navbar-brand" href="/council">Council</a>
		            	</div>
					</div>	
		          </div>
		  
	  </nav> -->

			   <!-- END NAVIGATION BAR-->


<div id="belowNavContainer">
    

<div class="heading">Holi</div>
<div class="event_image_preview">
	<center>
	<img width="24%" src="/img/holiprev1.jpg"/>
	<img width="24%" src="/img/holiprev2.jpg"/>
	<img width="24%" src="/img/holiprev3.jpg"/>
	<img width="24%" src="/img/holiprev4.jpg"/>
	</center><br>
	<p style="width: 50%; margin-left: auto; margin-right: auto ;">
	<b style="font-size:18px; font-weight:bold;">What is Holi?</b><br>	Also known as the festival of colors, Holi is an annual Hindu festival celebrated on the day after the full moon in early March. It celebrates spring, commemorates various events in Hindu mythology and is a time of disregarding social norms and indulging in general merrymaking. 
	</p><br>
	<p style="width: 50%; margin-left: auto; margin-right: auto ;"><b style="font-size:18px; font-weight:bold;">History</b><br>
		Celebrated throughout India, especially in the North, Holi is a Hindu spring festival. It is known alternatively as Dolyatra in West Bengal, and Phagwa in Bhojpur. The festival usually consists of three separate events: Holi, Dhuleti and Rangapanchami. 
<br><br>
		The first, Holi, celebrates a common theme in Hindu festivals - the triumph of good over evil. According to the Vaishnava story, there once was an asura (demon), Hiranyakashipu, who, through boons of near-immortality granted by Brahma, began to terrorize the three worlds. He openly threatened the god Vishnu, who had earlier vanquished Hiranyakashipu's brother, Hiranyaksha, that he would seek revenge for his brother. Curiously, Hiranyakashipu's son, Prahlad, was a staunch devotee of Vishnu, and claimed to his father that Vishnu resided in all things. Furious, Hiranyakashipu asked his sister, Holika, who was protected from fire, to sit with Prahlad inside a fire, challenging his son's belief that Vishnu would protect him always. When Holika sat with Prahlad, indeed Vishnu protected him from the fire, and in his place, Holika burned. Vishnu later incarnated as the man-lion Narasimha, to kill Hiranyakashipu. Holi, deriving its name from Holika, celebrates the burning of the asura's sister.

	<br><br>	During Dhuleti, the second day, people take to the streets, throwing powdered color and scented water at each other. The colors are usually made from ayurvedic herbs, including neem, kumkum, haldi and bilva. The herbs are supposed to counteract colds and viral illnesses common with the spring. The third and final day, Rangapanchami, marks the end of the color festival, and usually falls on the day of Pooranmashi, or the full moon.
		
	</p>
	
	
</div>
   
</div>





    
 </div>
  
  </body>
</html>