<html>
<head>
    <title>Indian Students Association -- Holi</title>
    <link href="stylesheet.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap-dropdown.js"></script>
    <script src="themes/1/js-image-slider.js" type="text/javascript"></script>
	<link href="themes/1/js-image-slider.css" rel="stylesheet" type="text/css" />
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
        <style>
            body {
                padding-top: 0px; /* When using the navbar-top-fixed */
            }
            </style>
        <link href="bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <script type="text/javascript">
                $(document).ready(function () {
                                  $('.dropdown-toggle').dropdown();
                                  });
    </script>
	<script src="js/slides.min.jquery.js"></script>



</head>


<body background="">
    
    <div class="navbar navbar-inverse navbar-fixed-top center">
        <div class="navbar-inner">
            <div class="container">
                <ul class="nav">
                    <li><a href="/home">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li class="dropdown" id="accountmenu">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Events<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/raas">Raas Garba</a></li>
							<li><a href="/diwali">Diwali Banquet</a></li>
							<li><a href="/holi">Holi</a></li>
                        </ul>
                    </li>
                    <li><a href="/membership">Membership</a></li>
                    <li class="dropdown" id="accountmenu">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Media<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/photos">Photo Gallery</a></li>
                            <li><a href="/videos">Videos</a></li>
                        </ul>
                    </li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/council">Council</a></li>
                    <!-- <li class="dropdown" id="accountmenu">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Tutorials<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">PHP</a></li>
                            <li><a href="#">MySQL</a></li>
                            <li class="divider"></li>
                            <li><a href="#">JavaScript</a></li>
                            <li><a href="#">HTML5</a></li>
                        </ul>
                    </li> -->
                </ul>
            </div>
        </div>
    </div>
    
    
    
    

		
		    


<div id="belowNavContainer">
    

<div class="heading">Holi</div>
<div class="event_image_preview">
	<center>
	<img width="24%" src="/img/holiprev1.jpg"/>
	<img width="24%" src="/img/holiprev2.jpg"/>
	<img width="24%" src="/img/holiprev3.jpg"/>
	<img width="24%" src="/img/holiprev4.jpg"/>
	</center><br>
	<p style="width: 50%; margin-left: auto; margin-right: auto ;"><b style="font-size:18px; font-weight:bold;">Holi festival</b><br>
		Celebrated throughout India, especially in the North, Holi is a Hindu spring festival. It is known alternatively as Dolyatra in West Bengal, and Phagwa in Bhojpur. The festival usually consists of three separate events: Holi, Dhuleti and Rangapanchami. 
<br><br>
		The first, Holi, celebrates a common theme in Hindu festivals - the triumph of good over evil. According to the Vaishnava story, there once was an asura (demon), Hiranyakashipu, who, through boons of near-immortality granted by Brahma, began to terrorize the three worlds. He openly threatened the god Vishnu, who had earlier vanquished Hiranyakashipu's brother, Hiranyaksha, that he would seek revenge for his brother. Curiously, Hiranyakashipu's son, Prahlad, was a staunch devotee of Vishnu, and claimed to his father that Vishnu resided in all things. Furious, Hiranyakashipu asked his sister, Holika, who was protected from fire, to sit with Prahlad inside a fire, challenging his son's belief that Vishnu would protect him always. When Holika sat with Prahlad, indeed Vishnu protected him from the fire, and in his place, Holika burned. Vishnu later incarnated as the man-lion Narasimha, to kill Hiranyakashipu. Holi, deriving its name from Holika, celebrates the burning of the asura's sister.

	<br><br>	During Dhuleti, the second day, people take to the streets, throwing powdered color and scented water at each other. The colors are usually made from ayurvedic herbs, including neem, kumkum, haldi and bilva. The herbs are supposed to counteract colds and viral illnesses common with the spring. The third and final day, Rangapanchami, marks the end of the color festival, and usually falls on the day of Pooranmashi, or the full moon.
		
	</p>
	
	
</div>






    
</div>

</body>
</html>


