<!DOCTYPE html>
<html>
  <head>
    <title>Bootstrap 101 Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
	 <link href="stylesheet.css" rel="stylesheet" type="text/css"/>
    <link href="bootstrap3/css/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  
  <body>
		  <img height="60" width="100" src="/img/translogo.gif" style="position:fixed; top:5px; left:20px; z-index: 3;"/>
		  <nav class="navbar-wrapper navbar-default navbar-fixed-top" role="navigation" style="background-color:rgba(0,0,0,0.7); z-index: 2;">
		          <div class="container">
		            <div class="navbar-header">
		             	
		            </div>
					<div class="navbar-links">
		            	<div class="navbar-header">
		              	  <a class="navbar-brand" href="#">Home</a>
		            	</div>
		            	<div class="navbar-header">
		              <a class="navbar-brand" href="#">Photos</a>
		            	</div>
		            	<div class="navbar-header">
		            		<a class="navbar-brand" href="#">Events</a>
		            	</div>
		            	<div class="navbar-header">
		            		<a class="navbar-brand" href="#">Council</a>
		            	</div>
					</div>	
		          </div>
		  
	  </nav>

	  
	  <div style="height: 100px;">
	  </div>
	  
	  <div id="welcome">
		  Welcome to the official site of UC Berkeley's <b>Indian Student Association</b>!
	  </div>
	  <div style="height: 400px;">
	  </div>





	  <div id="belowNavContainer">
	      <div class="heading">About ISA</div>
	      <div class="description">
	  		<div>
	          <p style="text-indent:30px">
	          ISA is an on-campus student organization conceived with the objective of representing India and the Indo-American community to the UC Berkeley campus in particular and the Bay Area in general. One in every six individuals born on Earth is an Indian, yet India as a concept is not limited to the boundaries of the nation-state that today bears its name. India is verily a timeless civilization, firmly established upon the bedrock of unity in diversity and continuity amidst change.
	          </p>
	          <p style="text-indent:30px">
	          Throughout the course of world history India has made significant contributions to humanity through science, mathematics, spirituality, literature and polity. It has given the world leaders and role models including Mahatma Gandhi, Mother Teresa, Kabir, and countless others. It is with this firm understanding that ISA intends to present India at the footsteps of UC Berkeley.
	          </p>
	  		</div>
	      </div>
	      </div>
		  
	
    
  
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>