<html>
<head>
    <title>Indian Students Association -- Home</title>
    <link href="stylesheet.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
</head>


<body>
<div class="intro">Welcome to ISA's sexy web page!</div>



</body>
</html>