<!DOCTYPE html>
<html>
  <head>
    <title>Indian Students Association</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
	 <link href="stylesheet.css" rel="stylesheet" type="text/css"/>
    <link href="bootstrap3/css/bootstrap.min.css" rel="stylesheet" media="screen">
	
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="bootstrap3/js/bootstrap.js"></script>
    <script type="text/javascript" src="bootstrap3/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="bootstrap3/js/bootstrap-dropdown.js"></script>
  </head>
  
  <body>
	  <center>
	 <img height="45" width="80" src="/img/banner.png" style="position:fixed; top:5px; left:20px; z-index: 3;"/></center>
	  
	  <!-- NAVIGATION BAR-->
	  <nav class="navbar-wrapper transparent navbar-inverse navbar-fixed-top" role="navigation" style="background-color:rgba(0,0,0,0.7) !important; z-index: 2;">
	    <div class="container-fluid">
	      <!-- Brand and toggle get grouped for better mobile display -->
	      <div class="navbar-header">
	        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	          <span class="sr-only">Toggle navigation</span>
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	        </button>
	        <a class="navbar-brand" href="#"></a>
	      </div>
	      
	      <!-- Collect the nav links, forms, and other content for toggling -->
	      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			  <div style="width:35%; float:left; color:black;">|</div>
	        <ul style="float:left;" class="nav navbar-nav navbar-left">
	          <li><a href="/">Home</a></li>
			  <li><a href="/photos">Photos</a></li>
	          <li class="dropdown">
	            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Events <b class="caret"></b></a>
	            <ul class="dropdown-menu">
	              <li><a href="/raas">Raas Garba</a></li>
	              <li><a href="/diwali">Diwali</a></li>
	              <li><a href="/taste">Taste of India</a></li>
				  <li><a href="/holi">Holi</a></li>
	            </ul>
	          </li>
			  <li><a href="/council">Council</a></li>
	        </ul>
	      </div><!-- /.navbar-collapse -->
	    </div><!-- /.container-fluid -->
	  </nav>
	  
	  <!--
	  <nav class="navbar-wrapper navbar-default navbar-fixed-top" role="navigation" style="background-color:rgba(0,0,0,0.7); z-index: 2;">
	          <div class="container">
	            <div class="navbar-header">
	             	
	            </div>
				<div class="navbar-links">
	            	<div class="navbar-header">
	              	  <a class="navbar-brand" href="/">Home</a>
	            	</div>
	            	<div class="navbar-header">
	              <a class="navbar-brand" href="/photos">Photos</a>
	            	</div>
	            	<div class="navbar-header">
	            		<a class="navbar-brand" href="#">Events</a>
	            	</div>
	            	<div class="navbar-header">
	            		<a class="navbar-brand" href="/council">Council</a>
	            	</div>
				</div>	
	          </div>
	  
  </nav> -->

		   <!-- END NAVIGATION BAR-->
		  

	  
	  <div style="height: 100px;">
	  </div>
	  
	 <div class="description" style="position: relative; left: 25px;">	
		 <img height="400" src="/img/BAnner2.png"/>
	  </div>


	  <br><br>


	  <div id="belowNavContainer">
	      <div class="heading">Announcements</div>
		  <br><br><br>
		  <div class="heading">Buy Diwali Tickets</div>


		  <div class="description">
	  		<div>
	          <p style="text-indent:30px">
	          ISA brings to you the much awaited annual Diwali Banquet! Come out on the 13th of November to have a memorable night; with performances from the top south asian dance and A-capella groups on campus and live DJs Magic and M3 to fuel the Bollywood dancing. Mela will be providing delicious Indian food. Everything you need for an international Diwali!

			  Chevron Auditorium | 6:30 PM | Thursday, November 13th
	          </p>
	  		</div>
	      </div>
	      <br>

		 <a style = "position:relative; left: 750px;" href="http://www.eventbrite.com/event/14185556381?ref=ebtn" target="_blank">
		  <img border="0" src="http://www.eventbrite.com/custombutton?eid=14185556381" alt="ISA DIWALI BANQUET" />
		</a>
		  <br><br><br>
		  <div class="heading">First General Meeting</div>

	      <div class="description">
	  		<div>
	          <p style="text-indent:30px">
	          Want free samosas and drinks ? Want to learn more about how indian culture is represented on campus ? Come out to Indian Students Associations First General Meeting on Saturday 9/6 at 6 pm in 2040 VLSB and come meet some awesome people! You can find more details on <a href="https://www.facebook.com/events/261170784092647/"><u>the Facebook event</u></a> or by visiting the <a href="https://www.facebook.com/isaberkeley"><u>ISA council page</u></a>. We have open council positions for design, fundraising intern, and secretary. Find the application <a style="font-size:20px" href="https://docs.google.com/a/berkeley.edu/forms/d/1-JtwIpMIK3fLiWSODaaOF2ngaHl8fkH-zGjmyf28vUY/viewform"><u>here</u></a>!
	          </p>
	  		</div>
	  		<img height="400" style="position: relative; left: 100px;" src="/img/isaprof.jpg"/>
	      </div>
	      <br><br>
	      <div class="heading">About ISA</div>
	      <div class="description">
	  		<div>
	          <p style="text-indent:30px">
	          ISA is an on-campus student organization conceived with the objective of representing India and the Indo-American community to the UC Berkeley campus in particular and the Bay Area in general. One in every six individuals born on Earth is an Indian, yet India as a concept is not limited to the boundaries of the nation-state that today bears its name. India is verily a timeless civilization, firmly established upon the bedrock of unity in diversity and continuity amidst change.
	          </p>
	          <p style="text-indent:30px">
	          Throughout the course of world history India has made significant contributions to humanity through science, mathematics, spirituality, literature and polity. It has given the world leaders and role models including Mahatma Gandhi, Mother Teresa, Kabir, and countless others. It is with this firm understanding that ISA intends to present India at the footsteps of UC Berkeley.
	          </p>
	  		</div>
	      </div>
		  
		  <br>
		  <br>
		  <br>
		   <div class="heading">ISA Membership</div>
 	      <div class="description">
 	  		<div>
 	          <p style="text-indent:30px">
 	          Anyone can become a member of ISA. As a member, you will receive the following benefits:
                <ul>
                <li>An ISA member card with special discounts</li>
                <li>Discounted tickets to our events</li>
                <li>Free admission to movie nights</li>
                </ul>
		   Find us at our table on Sproul to sign up!	
	   </p>
 	  		</div>
 	      </div>
 	      
		   
		  
	      </div>
		  
	
    
  
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>