<!DOCTYPE html>
<html>
  <head>
    <title>Indian Student Association</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
	 <link href="stylesheet.css" rel="stylesheet" type="text/css"/>
    <link href="bootstrap3/css/bootstrap.min.css" rel="stylesheet" media="screen">
	
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="bootstrap3/js/bootstrap.js"></script>
    <script type="text/javascript" src="bootstrap3/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="bootstrap3/js/bootstrap-dropdown.js"></script>
	
	<script type="text/javascript">
		var photoindex = 1;
		var garbaimages =  ['https://scontent-a-lax.xx.fbcdn.net/hphotos-ash3/t31/q71/s720x720/1412714_10102573295022953_1135928754_o.jpg',
'https://scontent-b-lax.xx.fbcdn.net/hphotos-prn2/t31/q71/s720x720/1398017_10102573333421003_1923099937_o.jpg',
'https://scontent-b-lax.xx.fbcdn.net/hphotos-frc3/t31/q71/s720x720/1401346_10102573339838143_280484314_o.jpg',
'https://scontent-b-lax.xx.fbcdn.net/hphotos-prn1/t31/q72/s720x720/857448_10102573346265263_526191856_o.jpg',
'https://scontent-a-lax.xx.fbcdn.net/hphotos-frc1/t31/q71/s720x720/735635_10102573324803273_823928656_o.jpg',
'https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-frc1/t31/q71/s720x720/903477_10102573350057663_2134449681_o.jpg',
'https://scontent-b-lax.xx.fbcdn.net/hphotos-ash4/t31/q77/s720x720/1403581_10102573369069563_547549000_o.jpg',
'https://scontent-a-lax.xx.fbcdn.net/hphotos-prn2/t31/q71/s720x720/1401934_10102573336484863_1916433576_o.jpg',
'https://scontent-b-lax.xx.fbcdn.net/hphotos-prn2/t31/q71/s720x720/1398965_10102573326919033_319963384_o.jpg',
'https://scontent-b-lax.xx.fbcdn.net/hphotos-frc3/t31/q74/s720x720/1415381_10102573332248353_907156032_o.jpg',
'https://scontent-a-lax.xx.fbcdn.net/hphotos-prn2/t31/q72/s720x720/1398742_10102573316998913_264530072_o.jpg',
'https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-ash4/t31/q73/s720x720/1401831_10102573308141663_1327135711_o.jpg'
		];
		
		var holiimages = ['https://sphotos-b-sjc.xx.fbcdn.net/hphotos-prn1/s720x720/561919_531518163557505_426635721_n.jpg',

	'https://sphotos-b-sjc.xx.fbcdn.net/hphotos-ash3/s720x720/28145_531519436890711_931402432_n.jpg',

	'https://sphotos-b-sjc.xx.fbcdn.net/hphotos-prn1/s720x720/45315_531518486890806_687557428_n.jpg',

	'https://sphotos-a-sjc.xx.fbcdn.net/hphotos-prn1/s720x720/525364_531525063556815_1705106001_n.jpg',

	'https://sphotos-a-sjc.xx.fbcdn.net/hphotos-prn1/s720x720/59237_531526483556673_466647377_n.jpg',

	'https://sphotos-b-sjc.xx.fbcdn.net/hphotos-ash3/s720x720/554254_531528496889805_2105281165_n.jpg',

	'https://sphotos-a-sjc.xx.fbcdn.net/hphotos-prn1/s720x720/533965_531528603556461_971366621_n.jpg',

	'https://sphotos-a-sjc.xx.fbcdn.net/hphotos-prn1/s720x720/532885_531518903557431_1267883130_n.jpg',

	'https://sphotos-b-sjc.xx.fbcdn.net/hphotos-prn1/s720x720/603939_531525176890137_1439586656_n.jpg',

	'https://sphotos-b-sjc.xx.fbcdn.net/hphotos-prn1/s720x720/71424_531525470223441_914561717_n.jpg',

	'https://sphotos-b-sjc.xx.fbcdn.net/hphotos-ash3/s720x720/541672_531519656890689_829839582_n.jpg',

	'https://sphotos-b-sjc.xx.fbcdn.net/hphotos-frc1/s720x720/603950_531526530223335_1386799797_n.jpg',

	'https://sphotos-a-sjc.xx.fbcdn.net/hphotos-ash3/s720x720/644296_531526946889960_525208891_n.jpg',

	'https://sphotos-a-sjc.xx.fbcdn.net/hphotos-ash3/s720x720/11657_531527953556526_1514523190_n.jpg',

	'https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-ash3/s720x720/644594_531528186889836_1615504693_n.jpg',

	'https://sphotos-a-sjc.xx.fbcdn.net/hphotos-ash3/s720x720/526659_531526273556694_160950237_n.jpg',

	'https://sphotos-a-sjc.xx.fbcdn.net/hphotos-ash3/s720x720/549104_531514613557860_541128840_n.jpg',

	'https://sphotos-a-sjc.xx.fbcdn.net/hphotos-prn1/s720x720/64406_531517820224206_631386273_n.jpg',

	'https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-prn1/s720x720/524088_531518183557503_1964436366_n.jpg',

	'https://sphotos-a-sjc.xx.fbcdn.net/hphotos-prn1/s720x720/30561_531520210223967_1720830837_n.jpg',

	'https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-prn1/s720x720/11734_531514773557844_56334499_n.jpg',

	'https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-ash3/s720x720/733863_531515126891142_457640287_n.jpg',

	'https://sphotos-b-sjc.xx.fbcdn.net/hphotos-ash3/s720x720/15180_531515080224480_410978661_n.jpg',

	'https://sphotos-a-sjc.xx.fbcdn.net/hphotos-ash3/s720x720/602164_531518000224188_949495275_n.jpg',

	'https://sphotos-b-sjc.xx.fbcdn.net/hphotos-ash3/s720x720/529498_531518056890849_1560075809_n.jpg',

	'https://sphotos-b-sjc.xx.fbcdn.net/hphotos-prn1/s720x720/10995_531517313557590_790911182_n.jpg',

	'https://sphotos-b-sjc.xx.fbcdn.net/hphotos-prn1/s720x720/71458_531519046890750_1403661442_n.jpg',

	'https://sphotos-b-sjc.xx.fbcdn.net/hphotos-ash3/s720x720/532144_531518116890843_1611073632_n.jpg',

	'https://sphotos-b-sjc.xx.fbcdn.net/hphotos-prn1/s720x720/13898_531518766890778_1763768958_n.jpg',

	'https://sphotos-b-sjc.xx.fbcdn.net/hphotos-prn1/s720x720/560225_531518566890798_112796849_n.jpg',

	'https://sphotos-b-sjc.xx.fbcdn.net/hphotos-ash3/s720x720/549076_531516523557669_2086934667_n.jpg'
	];
		var diwaliimages = ['https://scontent-b-lax.xx.fbcdn.net/hphotos-frc1/t31/q71/s720x720/1415062_10102612720264453_759026814_o.jpg',
'https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-prn2/t31/q74/s720x720/1402107_10102612725319323_1884485019_o.jpg',
'https://scontent-b-lax.xx.fbcdn.net/hphotos-frc3/t31/q71/s720x720/980962_10102612770853073_414279679_o.jpg',
'https://scontent-a-lax.xx.fbcdn.net/hphotos-prn2/t31/q71/s720x720/1401792_10102612777624503_1522346340_o.jpg',
'https://scontent-b-lax.xx.fbcdn.net/hphotos-prn1/t31/q71/s720x720/856862_10102612785623473_932950251_o.jpg',
'https://scontent-a-lax.xx.fbcdn.net/hphotos-frc3/t31/q71/s720x720/977057_10102612790698303_1714324201_o.jpg',
'https://scontent-a-lax.xx.fbcdn.net/hphotos-prn2/t31/q71/s720x720/1401981_10102612810733153_935611775_o.jpg',
'https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-ash4/t31/q71/s720x720/1398371_10102612816092413_1382120222_o.jpg',
'https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-ash3/t31/q72/s720x720/886152_10102612816481633_2016657305_o.jpg',
'https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-prn2/t31/q71/s720x720/1401175_10102612834121283_171556068_o.jpg',
'https://scontent-b-lax.xx.fbcdn.net/hphotos-prn1/t31/q75/s720x720/778683_10102612817649293_585726930_o.jpg',
'https://scontent-a-lax.xx.fbcdn.net/hphotos-frc3/t31/q71/s720x720/1399797_10102612756596643_890548826_o.jpg',
'https://scontent-b-lax.xx.fbcdn.net/hphotos-prn1/t31/q71/s720x720/1400710_10102612761042733_792941835_o.jpg',
'https://scontent-b-lax.xx.fbcdn.net/hphotos-ash3/t31/q74/s720x720/774434_10102612822584403_1627438410_o.jpg',
'https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-prn2/t31/q73/s720x720/1396784_10102612794635413_915619859_o.jpg',
'https://scontent-a-lax.xx.fbcdn.net/hphotos-ash3/t31/q71/s720x720/1421310_10102612815044513_1441334534_o.jpg',
'https://scontent-b-lax.xx.fbcdn.net/hphotos-ash4/t31/q71/s720x720/1398010_10102612805862913_362236906_o.jpg',
'https://scontent-a-lax.xx.fbcdn.net/hphotos-ash3/t31/q71/s720x720/1397275_10102612793148393_191960509_o.jpg',
'https://scontent-b-lax.xx.fbcdn.net/hphotos-ash4/t31/q71/s720x720/1465791_10102612813043523_1011736102_o.jpg',
'https://scontent-b-lax.xx.fbcdn.net/hphotos-prn2/t31/q71/s720x720/1401955_10102612779795153_1180299893_o.jpg',
'https://scontent-a-lax.xx.fbcdn.net/hphotos-frc1/t31/q71/s720x720/735462_10102612762519773_801741908_o.jpg',
'https://scontent-a-lax.xx.fbcdn.net/hphotos-ash3/t31/q71/s720x720/1412203_10102612783053623_1861352358_o.jpg',
'https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-frc3/t31/q80/s720x720/1402026_10102612713368273_629754101_o.jpg']
		var switchgarbaimage = function() {
			$(".centered")[2].src = garbaimages[photoindex%garbaimages.length]
			$(".centered")[0].src = holiimages[photoindex%holiimages.length]
			$(".centered")[1].src = diwaliimages[photoindex%diwaliimages.length]
			console.log(diwaliimages[photoindex])
			photoindex += 1
			if (photoindex == garbaimages.length) {
				photoindex = 0
			}
		}
        $(document).ready(function () {
						window.setInterval(switchgarbaimage, 3000); // 3000
		})
		
		</script>
		
  </head>
  
  <body>
		 <img height="45" width="80" src="/img/banner.png" style="position:fixed; top:5px; left:20px; z-index: 3;"/>
		  
		  <!-- NAVIGATION BAR-->
		  <nav class="navbar-wrapper transparent navbar-inverse navbar-fixed-top" role="navigation" style="background-color:rgba(0,0,0,0.7) !important; z-index: 2;">
		    <div class="container-fluid">
		      <!-- Brand and toggle get grouped for better mobile display -->
		      <div class="navbar-header">
		        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		          <span class="sr-only">Toggle navigation</span>
		          <span class="icon-bar"></span>
		          <span class="icon-bar"></span>
		          <span class="icon-bar"></span>
		        </button>
		        <a class="navbar-brand" href="#"></a>
		      </div>

		      <!-- Collect the nav links, forms, and other content for toggling -->
		      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				  <div style="width:35%; float:left; color:black;">|</div>
		        <ul style="float:left;" class="nav navbar-nav navbar-left">
		          <li><a href="/">Home</a></li>
				  <li><a href="/photos">Photos</a></li>
		          <li class="dropdown">
		            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Events <b class="caret"></b></a>
		            <ul class="dropdown-menu">
		              <li><a href="/raas">Raas Garba</a></li>
		              <li><a href="/diwali">Diwali</a></li>
		              <li><a href="/taste">Taste of India</a></li>
					  <li><a href="/holi">Holi</a></li>
		            </ul>
		          </li>
				  <li><a href="/council">Council</a></li>
		        </ul>
		      </div><!-- /.navbar-collapse -->
		    </div><!-- /.container-fluid -->
		  </nav>
		  
		  <!--
		  <nav class="navbar-wrapper navbar-default navbar-fixed-top" role="navigation" style="background-color:rgba(0,0,0,0.7); z-index: 2;">
		          <div class="container">
		            <div class="navbar-header">
		             	
		            </div>
					<div class="navbar-links">
		            	<div class="navbar-header">
		              	  <a class="navbar-brand" href="/">Home</a>
		            	</div>
		            	<div class="navbar-header">
		              <a class="navbar-brand" href="/photos">Photos</a>
		            	</div>
		            	<div class="navbar-header">
		            		<a class="navbar-brand" href="#">Events</a>
		            	</div>
		            	<div class="navbar-header">
		            		<a class="navbar-brand" href="/council">Council</a>
		            	</div>
					</div>	
		          </div>
		  
	  </nav> -->

			   <!-- END NAVIGATION BAR-->

    <div id="belowNavContainer">
		<div class="heading">ISA Photo Gallery</div>
		<br><br><br>
		<center>
			
			<span class="photo_album_cover">
			<a href="/holi_photos"><img class="centered" width="30%" src="https://sphotos-b.xx.fbcdn.net/hphotos-ash3/559518_3558590317770_953150476_n.jpg"/></a>
		</span>
			<span class="photo_album_cover">
			<a href="/diwali_photos"><img class="centered"  width="30%" src="https://scontent-b-lax.xx.fbcdn.net/hphotos-frc3/t31/q71/s720x720/980962_10102612770853073_414279679_o.jpg"/></a>
		</span>
			<span class="photo_album_cover">
		    <a href="/raas_photos"><img  class="centered" width="30%" src="https://scontent-a-lax.xx.fbcdn.net/hphotos-ash3/t31/q71/s720x720/1412714_10102573295022953_1135928754_o.jpg"/></a>
		</span>
		<span class="photo_album_name">Holi 2013</span><span class="photo_album_name">Diwali Banquet 2013</span><span class="photo_album_name">Raas Garba 2013</span></center>
		<center>
			
			<!-- >
		<div class="album_preview_area">
			<div class="img_preview_area"><center><a href="/holi_photos"><img class="centered" width="400" src="https://sphotos-b.xx.fbcdn.net/hphotos-ash3/559518_3558590317770_953150476_n.jpg"/></a></center></div>
			<div class="album_name_area">Holi 2013</div>
			<div class="img_preview_area"><center><a href="/diwali_photos"><img class="centered" width="400" src="https://sphotos-a.xx.fbcdn.net/hphotos-prn1/18990_10152438108925368_695541577_n.jpg"/></a></center></div>
			<div class="album_name_area">Diwali Banquet 2012</div>
			<div class="img_preview_area"><center><a href="/raas_photos"><img class="centered" width="400" src="https://scontent-a-lax.xx.fbcdn.net/hphotos-ash3/t31/q71/s720x720/1412714_10102573295022953_1135928754_o.jpg"/></a></center></div>
			<div class="album_name_area">Raas Garba 2012</div> -->

		</div>
	</center>



    </div>
    
  
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>