<html>
<head>
    <title>Indian Students Association -- Raas Garba</title>
    <link href="stylesheet.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap-dropdown.js"></script>
    <script src="themes/1/js-image-slider.js" type="text/javascript"></script>
	<link href="themes/1/js-image-slider.css" rel="stylesheet" type="text/css" />
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
        <style>
            body {
                padding-top: 0px; /* When using the navbar-top-fixed */
            }
            </style>
        <link href="bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <script type="text/javascript">
                $(document).ready(function () {
                                  $('.dropdown-toggle').dropdown();
                                  });
    </script>
	<script src="js/slides.min.jquery.js"></script>



</head>


<body background="">
    
    <div class="navbar navbar-inverse navbar-fixed-top center">
        <div class="navbar-inner">
            <div class="container">
                <ul class="nav">
                    <li><a href="/home">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li class="dropdown" id="accountmenu">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Events<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/raas">Raas Garba</a></li>
							<li><a href="/diwali">Diwali Banquet</a></li>
							<li><a href="/holi">Holi</a></li>
                        </ul>
                    </li>
                    <li><a href="/membership">Membership</a></li>
                    <li class="dropdown" id="accountmenu">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Media<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/photos">Photo Gallery</a></li>
                            <li><a href="/videos">Videos</a></li>
                        </ul>
                    </li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/council">Council</a></li>
                    <!-- <li class="dropdown" id="accountmenu">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Tutorials<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">PHP</a></li>
                            <li><a href="#">MySQL</a></li>
                            <li class="divider"></li>
                            <li><a href="#">JavaScript</a></li>
                            <li><a href="#">HTML5</a></li>
                        </ul>
                    </li> -->
                </ul>
            </div>
        </div>
    </div>
    
    
    
    

		
		    


<div id="belowNavContainer">
    

<div class="heading">Raas Garba</div>
<div class="event_image_preview">
	<center>
	<img width="24%" src="https://sphotos-a.xx.fbcdn.net/hphotos-snc6/178224_452839688090589_1926126192_o.jpg"/>
	<img width="24%" src="https://sphotos-b.xx.fbcdn.net/hphotos-ash3/615439_452839621423929_1220919996_o.jpg"/>
	<img width="24%" src="https://sphotos-b.xx.fbcdn.net/hphotos-prn1/615721_452842581423633_201398336_o.jpg"/>
	<img width="24%" src="https://sphotos-a.xx.fbcdn.net/hphotos-ash4/277319_452839731423918_1989778424_o.jpg"/>
	</center><br>
	<p style="width: 50%; margin-left: auto; margin-right: auto ;"><b style="font-size:18px; font-weight:bold;">Raas</b><br>
		Closely associated with garba, raas is a similar, line-dance form, where dancing partners hit dandiya, or ornately decorated sticks, together, in rhythm to the music. Traditional raas involves a five step process, though variations can involve more.

		Both garba and raas are most commonly seen during the festival of <b>Navratri</b> ("Nine nights"), a celebration of Hinduism's goddesses. Some sects of Hinduism believe the nine days of Navratri correspond to the nine forms of "Shakti," which include: Durga, Bhadrakali, Jagadamba, Annapurna, Sarvamangala, Bhairavi, Chandika, Lalita, Bhavani and Mookambika. Others believe the nine days are divided among the three principal goddesses, the first three for Durga, the second three for Lakshmi, and the final three for Saraswati.
		
	</p>
	<p style="width: 50%; margin-left: auto; margin-right: auto ;"><b style="font-size:18px; font-weight:bold">Garba</b><br>
		An Indian dance form that originated in the western Indian state of Gujarat, garba is the rough equivalent of western social dancing. It differs markedly from classical dance forms like bharatnatyam and odissi. The dance is usually done in a circle, usually around a lamp or an image of the goddess Amba. At every step, participants gracefully bend sideways, the arms coming together in sweeping gestures, up and down, left and right, each movement ending in clap. Variations on garba's traditional steps are becoming more common.
	</p>
	
</div>






    
</div>

</body>
</html>


