<html>
<head>
    <title>Indian Students Association -- Diwali Banquet 2012 Photos</title>
    <link href="stylesheet.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap-dropdown.js"></script>
    <script src="themes/1/js-image-slider.js" type="text/javascript"></script>
	<link href="themes/1/js-image-slider.css" rel="stylesheet" type="text/css" />
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
        <style>
            body {
                padding-top: 0px; /* When using the navbar-top-fixed */
            }
            </style>
        <link href="bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <script type="text/javascript">
	var garbaimages =  ['https://sphotos-b.xx.fbcdn.net/hphotos-prn1/57368_452838854757339_392190938_o.jpg','https://sphotos-a.xx.fbcdn.net/hphotos-snc7/317166_452838924757332_791648078_n.jpg','https://sphotos-a.xx.fbcdn.net/hphotos-ash4/304426_452838991423992_27408457_n.jpg','https://sphotos-b.xx.fbcdn.net/hphotos-snc6/285628_452841131423778_1861887565_n.jpg',
				'https://sphotos-a.xx.fbcdn.net/hphotos-ash4/379134_452839021423989_1849480173_n.jpg',
				'https://sphotos-b.xx.fbcdn.net/hphotos-snc6/196211_452839088090649_1524547673_n.jpg',
				'https://sphotos-b.xx.fbcdn.net/hphotos-ash3/557737_452839111423980_505162905_n.jpg',
				'https://sphotos-a.xx.fbcdn.net/hphotos-ash3/66535_452839181423973_2083820954_n.jpg',
				'https://sphotos-a.xx.fbcdn.net/hphotos-ash4/398296_452839218090636_464794859_n.jpg',
				'https://sphotos-a.xx.fbcdn.net/hphotos-snc6/254349_452839688090589_1926126192_n.jpg',
				'https://sphotos-b.xx.fbcdn.net/hphotos-ash4/398174_452839314757293_1859922083_n.jpg',
				'https://sphotos-a.xx.fbcdn.net/hphotos-ash3/521746_452839398090618_1518245067_n.jpg',
				'https://sphotos-a.xx.fbcdn.net/hphotos-prn1/554047_452839488090609_1802158194_n.jpg',
				'https://sphotos-b.xx.fbcdn.net/hphotos-ash4/311203_452839621423929_1220919996_n.jpg',
				'https://sphotos-a.xx.fbcdn.net/hphotos-prn1/69701_452839758090582_1725494219_n.jpg',
				'https://sphotos-a.xx.fbcdn.net/hphotos-prn1/548420_452839794757245_2090776037_n.jpg',
				'https://sphotos-b.xx.fbcdn.net/hphotos-snc6/254243_452839854757239_646283630_n.jpg',
				'https://sphotos-b.xx.fbcdn.net/hphotos-ash4/384348_452839921423899_544016575_n.jpg',
				'https://sphotos-a.xx.fbcdn.net/hphotos-ash4/602441_452839731423918_1989778424_n.jpg',
				'https://sphotos-b.xx.fbcdn.net/hphotos-ash4/394982_452840254757199_1008845576_n.jpg',
				'https://sphotos-b.xx.fbcdn.net/hphotos-snc6/254236_452840704757154_1615134990_n.jpg',
				'https://sphotos-a.xx.fbcdn.net/hphotos-ash4/3614_452840791423812_1217964652_n.jpg',
				'https://sphotos-a.xx.fbcdn.net/hphotos-ash4/374861_452841018090456_738020911_n.jpg',
				'https://sphotos-a.xx.fbcdn.net/hphotos-snc6/270590_452841408090417_207884184_n.jpg',
				'https://sphotos-b.xx.fbcdn.net/hphotos-ash3/533586_452841231423768_2047473278_n.jpg',
				'https://sphotos-a.xx.fbcdn.net/hphotos-ash3/552193_452842311423660_1058057761_n.jpg',
				'https://sphotos-a.xx.fbcdn.net/hphotos-ash3/29387_452842464756978_669766464_n.jpg',
				'https://sphotos-a.xx.fbcdn.net/hphotos-ash4/480282_452842534756971_910635559_n.jpg',
				'https://sphotos-b.xx.fbcdn.net/hphotos-prn1/30977_452842581423633_201398336_n.jpg',
				'https://sphotos-a.xx.fbcdn.net/hphotos-prn1/534733_452842741423617_1837219625_n.jpg'
				
				]
				var diwaliimages = ['https://sphotos-a.xx.fbcdn.net/hphotos-prn1/18990_10152438108925368_695541577_n.jpg',
				'https://sphotos-b.xx.fbcdn.net/hphotos-ash4/385267_10152438109020368_632198789_n.jpg',
				'https://sphotos-b.xx.fbcdn.net/hphotos-prn1/23325_10152438109235368_730338632_n.jpg',
				'https://sphotos-b.xx.fbcdn.net/hphotos-snc6/181144_10152438109425368_249481555_n.jpg',
				'https://sphotos-a.xx.fbcdn.net/hphotos-ash4/3388_10152438109700368_2097638844_n.jpg',
				'https://sphotos-a.xx.fbcdn.net/hphotos-snc6/251862_10152438109925368_153479847_n.jpg',
				'https://sphotos-b.xx.fbcdn.net/hphotos-snc7/397698_10152438110330368_1525970260_n.jpg',
				'https://sphotos-b.xx.fbcdn.net/hphotos-prn1/76896_10152438110420368_147769590_n.jpg',
				'https://sphotos-a.xx.fbcdn.net/hphotos-snc7/428081_10152438110640368_395557821_n.jpg',
				'https://sphotos-a.xx.fbcdn.net/hphotos-prn1/76296_10152438110750368_316990393_n.jpg',
				'https://sphotos-b.xx.fbcdn.net/hphotos-ash3/65847_10152438110850368_25058587_n.jpg',
				'https://sphotos-b.xx.fbcdn.net/hphotos-frc1/734532_10152438110980368_1767610090_n.jpg',
				'https://sphotos-a.xx.fbcdn.net/hphotos-frc1/734626_10152438111160368_132657319_n.jpg',
				'https://sphotos-a.xx.fbcdn.net/hphotos-snc6/208262_10152438111245368_921030874_n.jpg',
				'https://sphotos-a.xx.fbcdn.net/hphotos-snc6/184712_10152438111445368_1649350778_n.jpg',
				'https://sphotos-b.xx.fbcdn.net/hphotos-ash4/397458_10152438111685368_1800413835_n.jpg',
				'https://sphotos-b.xx.fbcdn.net/hphotos-prn1/149303_10152438112020368_164201791_n.jpg',
				'https://sphotos-b.xx.fbcdn.net/hphotos-ash3/555414_10152438112200368_73135244_n.jpg',
				'https://sphotos-b.xx.fbcdn.net/hphotos-snc6/265084_10152438112400368_1937519662_n.jpg',
				'https://sphotos-a.xx.fbcdn.net/hphotos-snc7/406162_10152438112540368_2136196927_n.jpg',
				'https://sphotos-a.xx.fbcdn.net/hphotos-ash4/304902_10152438112670368_688566447_n.jpg',
				'https://sphotos-a.xx.fbcdn.net/hphotos-prn1/553034_10152438112960368_1781180223_n.jpg',
				'https://sphotos-a.xx.fbcdn.net/hphotos-snc6/252636_10152438113070368_1417491540_n.jpg',
				'https://sphotos-b.xx.fbcdn.net/hphotos-ash4/397690_10152438113730368_55841793_n.jpg',
				'https://sphotos-b.xx.fbcdn.net/hphotos-prn1/148379_10152438113870368_1948532521_n.jpg',
				'https://sphotos-b.xx.fbcdn.net/hphotos-ash3/555345_10152438114335368_1263495628_n.jpg',
				'https://sphotos-b.xx.fbcdn.net/hphotos-snc7/399009_10152438114500368_1441567756_n.jpg',
				'https://sphotos-b.xx.fbcdn.net/hphotos-ash3/537262_10152438114745368_730782445_n.jpg',
				'https://sphotos-b.xx.fbcdn.net/hphotos-ash3/530647_10152438115505368_1927079787_n.jpg',
				'https://sphotos-a.xx.fbcdn.net/hphotos-prn1/544008_10152438115620368_755603019_n.jpg',
				'https://sphotos-a.xx.fbcdn.net/hphotos-ash3/582514_10152438115865368_1926593504_n.jpg',
				'https://sphotos-b.xx.fbcdn.net/hphotos-snc6/166496_10152438116035368_67901705_n.jpg',
				'https://sphotos-a.xx.fbcdn.net/hphotos-prn1/74153_10152438116365368_646611397_n.jpg',
				'https://sphotos-b.xx.fbcdn.net/hphotos-ash4/408460_10152438116530368_1009021970_n.jpg',
				'https://sphotos-b.xx.fbcdn.net/hphotos-ash3/554286_10152438116745368_1813508778_n.jpg',
				'https://sphotos-a.xx.fbcdn.net/hphotos-snc7/424103_10152438116865368_1720124134_n.jpg',
				'https://sphotos-b.xx.fbcdn.net/hphotos-snc6/6643_10152438117700368_1570128197_n.jpg',
				'https://sphotos-b.xx.fbcdn.net/hphotos-ash4/735071_10152438118405368_153752837_n.jpg',
				'https://sphotos-a.xx.fbcdn.net/hphotos-snc7/394916_10152438118530368_610550794_n.jpg',
				'https://sphotos-a.xx.fbcdn.net/hphotos-ash4/208402_10152438118635368_1140394215_n.jpg',
				'https://sphotos-b.xx.fbcdn.net/hphotos-frc1/734348_10152438118755368_1962709114_n.jpg',
				'https://sphotos-b.xx.fbcdn.net/hphotos-prn1/75044_10152438119020368_2135072409_n.jpg',
				'https://sphotos-a.xx.fbcdn.net/hphotos-prn1/74141_10152438119235368_329616272_n.jpg',
				'https://sphotos-a.xx.fbcdn.net/hphotos-prn1/74953_10152438119450368_1009142694_n.jpg',
				'https://sphotos-a.xx.fbcdn.net/hphotos-ash4/481020_10152438119990368_933166795_n.jpg',
				'https://sphotos-a.xx.fbcdn.net/hphotos-ash4/484775_10152438120350368_1485290597_n.jpg',
				'https://sphotos-b.xx.fbcdn.net/hphotos-prn1/71870_10152438120795368_242633729_n.jpg',
				'https://sphotos-b.xx.fbcdn.net/hphotos-ash3/6363_10152438120975368_898929110_n.jpg',
				'https://sphotos-b.xx.fbcdn.net/hphotos-ash4/270833_10152438121080368_728551347_n.jpg',
				'https://sphotos-a.xx.fbcdn.net/hphotos-ash4/480836_10152438121290368_738240559_n.jpg',
				'https://sphotos-a.xx.fbcdn.net/hphotos-snc6/208354_10152438121440368_394453435_n.jpg']
				var holiimages = ['https://sphotos-b.xx.fbcdn.net/hphotos-ash3/559518_3558590317770_953150476_n.jpg',
				'https://sphotos-a.xx.fbcdn.net/hphotos-ash3/555598_3558588877734_477809050_n.jpg',
				'https://sphotos-b.xx.fbcdn.net/hphotos-snc7/292167_3558589917760_658809456_n.jpg',
				'https://sphotos-a.xx.fbcdn.net/hphotos-prn1/524035_3558590517775_128469653_n.jpg',
				'https://sphotos-a.xx.fbcdn.net/hphotos-prn1/538681_3558590797782_772177074_n.jpg',
				'https://sphotos-a.xx.fbcdn.net/hphotos-ash3/522510_3558591277794_79850808_n.jpg',
				'https://sphotos-b.xx.fbcdn.net/hphotos-ash4/385729_3558591517800_835725606_n.jpg',
				'https://sphotos-b.xx.fbcdn.net/hphotos-ash3/574475_3558591957811_1599459763_n.jpg',
				'https://sphotos-a.xx.fbcdn.net/hphotos-ash3/579428_3558593157841_1062842685_n.jpg',
				'https://sphotos-a.xx.fbcdn.net/hphotos-prn1/526136_3558596477924_493080242_n.jpg',
				'https://sphotos-a.xx.fbcdn.net/hphotos-ash4/405110_3558597317945_333866741_n.jpg',
				'https://sphotos-b.xx.fbcdn.net/hphotos-prn1/535842_3558598037963_1999028459_n.jpg',
				'https://sphotos-a.xx.fbcdn.net/hphotos-ash3/562551_3558600718030_1460152359_n.jpg',
				'https://sphotos-b.xx.fbcdn.net/hphotos-ash4/306515_3558604238118_1614162381_n.jpg',
				'https://sphotos-b.xx.fbcdn.net/hphotos-prn1/536302_3558604878134_69493571_n.jpg',
				'https://sphotos-a.xx.fbcdn.net/hphotos-ash3/534989_3558605238143_138809115_n.jpg',
				'https://sphotos-a.xx.fbcdn.net/hphotos-prn1/564943_3558605358146_1410964619_n.jpg',
				'https://sphotos-a.xx.fbcdn.net/hphotos-snc7/306213_3558607438198_70137359_n.jpg',
				'https://sphotos-b.xx.fbcdn.net/hphotos-prn1/485737_3558608478224_1559845964_n.jpg',
				'https://sphotos-a.xx.fbcdn.net/hphotos-ash4/306236_3558609318245_307581628_n.jpg',
				'https://sphotos-a.xx.fbcdn.net/hphotos-ash3/558695_3558612318320_48891689_n.jpg',
				'https://sphotos-b.xx.fbcdn.net/hphotos-ash3/577985_3558612998337_1288753875_n.jpg',
				'https://sphotos-a.xx.fbcdn.net/hphotos-ash3/530292_3558613758356_135379764_n.jpg',
				'https://sphotos-a.xx.fbcdn.net/hphotos-prn1/154772_3558614158366_1484716746_n.jpg',
				'https://sphotos-b.xx.fbcdn.net/hphotos-ash3/524579_3558614518375_1693741395_n.jpg',
				'https://sphotos-a.xx.fbcdn.net/hphotos-ash3/574636_3558615358396_983836361_n.jpg',
				'https://sphotos-a.xx.fbcdn.net/hphotos-prn1/549212_3558615518400_32111804_n.jpg',
				'https://sphotos-a.xx.fbcdn.net/hphotos-snc7/575504_3558615718405_721523704_n.jpg',
				'https://sphotos-b.xx.fbcdn.net/hphotos-snc7/319856_3558616078414_1915283322_n.jpg',
				'https://sphotos-a.xx.fbcdn.net/hphotos-ash3/578907_3558619678504_1920962932_n.jpg',
				'https://sphotos-a.xx.fbcdn.net/hphotos-prn1/148991_3558621318545_720571779_n.jpg',
				'https://sphotos-b.xx.fbcdn.net/hphotos-ash3/557586_3558622998587_1740429004_n.jpg',
				'https://sphotos-b.xx.fbcdn.net/hphotos-ash3/578441_3558623078589_1522379939_n.jpg',
				'https://sphotos-a.xx.fbcdn.net/hphotos-ash3/575388_3558625118640_2065317775_n.jpg',
				'https://sphotos-a.xx.fbcdn.net/hphotos-ash4/401611_3558625198642_1215715085_n.jpg',
				'https://sphotos-a.xx.fbcdn.net/hphotos-prn1/149747_3558630158766_1345795904_n.jpg',
				'https://sphotos-a.xx.fbcdn.net/hphotos-ash3/524653_3558631958811_404812881_n.jpg',
				'https://sphotos-a.xx.fbcdn.net/hphotos-ash3/522318_3558634118865_1586815791_n.jpg',
				'https://sphotos-b.xx.fbcdn.net/hphotos-ash3/562702_3558652519325_58101361_n.jpg',
				'https://sphotos-b.xx.fbcdn.net/hphotos-prn1/559439_3558649959261_311397796_n.jpg',
				'https://sphotos-a.xx.fbcdn.net/hphotos-snc7/577409_3558651359296_426116140_n.jpg',
				'https://sphotos-a.xx.fbcdn.net/hphotos-ash3/527376_3558654359371_1583563802_n.jpg',
				'https://sphotos-b.xx.fbcdn.net/hphotos-ash3/531190_3558657439448_386139783_n.jpg',
				'https://sphotos-a.xx.fbcdn.net/hphotos-prn1/552880_3558663839608_1406047695_n.jpg',
				'https://sphotos-a.xx.fbcdn.net/hphotos-snc7/577672_3558664639628_142868573_n.jpg',
				'https://sphotos-a.xx.fbcdn.net/hphotos-ash3/545070_3558690120265_789719019_n.jpg',
				'https://sphotos-b.xx.fbcdn.net/hphotos-ash3/562725_3558702160566_1451984226_n.jpg',
				'https://sphotos-a.xx.fbcdn.net/hphotos-prn1/555523_3558703000587_553293145_n.jpg',
				'https://sphotos-b.xx.fbcdn.net/hphotos-ash4/295230_3558701440548_916576225_n.jpg',
				'https://sphotos-a.xx.fbcdn.net/hphotos-ash3/562778_3558705040638_1095084999_n.jpg',
				'https://sphotos-b.xx.fbcdn.net/hphotos-ash3/533450_3558705960661_1551123534_n.jpg',
				'https://sphotos-a.xx.fbcdn.net/hphotos-prn1/563756_3558712120815_227130248_n.jpg']
                $(document).ready(function () {
                                $('.dropdown-toggle').dropdown();
								var i;
								for (i=0;i<garbaimages.length;i++) {
									$("#photo_gallery_container").append("<a href=\""+ garbaimages[i] +"\" ><img style=\"width:280px;height:200px;padding-right:4px; padding-bottom:4px\" src=\""+garbaimages[i]+"\"\></a>")
								}

                });
    </script>
	<script src="js/slides.min.jquery.js"></script>



</head>


<body background="">
    
    <div class="navbar navbar-inverse navbar-fixed-top center">
        <div class="navbar-inner">
            <div class="container">
                <ul class="nav">
                    <li><a href="/home">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li class="dropdown" id="accountmenu">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Events<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/raas">Raas Garba</a></li>
							<li><a href="/diwali">Diwali Banquet</a></li>
							<li><a href="/holi">Holi</a></li>
                        </ul>
                    </li>
                    <li><a href="/membership">Membership</a></li>
                    <li class="dropdown" id="accountmenu">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Media<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/photos">Photo Gallery</a></li>
                           <li>&nbsp&nbsp&nbsp&nbsp&nbspVideos</li>
                        </ul>
                    </li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/council">Council</a></li>
                    <!-- <li class="dropdown" id="accountmenu">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Tutorials<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">PHP</a></li>
                            <li><a href="#">MySQL</a></li>
                            <li class="divider"></li>
                            <li><a href="#">JavaScript</a></li>
                            <li><a href="#">HTML5</a></li>
                        </ul>
                    </li> -->
                </ul>
            </div>
        </div>
    </div>
    
    
    
    

		
		    


<div id="belowNavContainer">
    

<div class="heading">Raas Garba 2012</div>

	<div id="photo_gallery_container">
	
	
	
	
	
	
	
	
	
	
	
	
	
	</div>

</div>






    
</div>

</body>
</html>


