<html>
<head>
    <title>Indian Students Association -- Raas Garba 2012 Photos</title>
    <link href="stylesheet.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap-dropdown.js"></script>
    <script src="themes/1/js-image-slider.js" type="text/javascript"></script>
	<link href="themes/1/js-image-slider.css" rel="stylesheet" type="text/css" />
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
        <style>
            body {
                padding-top: 0px; /* When using the navbar-top-fixed */
            }
            </style>
        <link href="bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <script type="text/javascript">
	var garbapreviewimages =  ['/img/raas/57368_452838854757339_392190938_o.jpg','/img/raas/317166_452838924757332_791648078_n.jpg','/img/raas/304426_452838991423992_27408457_n.jpg','/img/raas/285628_452841131423778_1861887565_n.jpg',
				'/img/raas/379134_452839021423989_1849480173_n.jpg',
				'/img/raas/196211_452839088090649_1524547673_n.jpg',
				'/img/raas/557737_452839111423980_505162905_n.jpg',
				'/img/raas/66535_452839181423973_2083820954_n.jpg',
				'/img/raas/398296_452839218090636_464794859_n.jpg',
				'/img/raas/254349_452839688090589_1926126192_n.jpg',
				'/img/raas/398174_452839314757293_1859922083_n.jpg',
				'/img/raas/521746_452839398090618_1518245067_n.jpg',
				'/img/raas/554047_452839488090609_1802158194_n.jpg',
				'/img/raas/311203_452839621423929_1220919996_n.jpg',
				'/img/raas/69701_452839758090582_1725494219_n.jpg',
				'/img/raas/548420_452839794757245_2090776037_n.jpg',
				'/img/raas/254243_452839854757239_646283630_n.jpg',
				'/img/raas/384348_452839921423899_544016575_n.jpg',
				'/img/raas/602441_452839731423918_1989778424_n.jpg',
				'/img/raas/394982_452840254757199_1008845576_n.jpg',
				'/img/raas/254236_452840704757154_1615134990_n.jpg',
				'/img/raas/3614_452840791423812_1217964652_n.jpg',
				'/img/raas/374861_452841018090456_738020911_n.jpg',
				'/img/raas/270590_452841408090417_207884184_n.jpg',
				'/img/raas/533586_452841231423768_2047473278_n.jpg',
				'/img/raas/552193_452842311423660_1058057761_n.jpg',
				'/img/raas/29387_452842464756978_669766464_n.jpg',
				'/img/raas/480282_452842534756971_910635559_n.jpg',
				'/img/raas/30977_452842581423633_201398336_n.jpg',
				'/img/raas/534733_452842741423617_1837219625_n.jpg']
				var garbaimages =  ['https://sphotos-b.xx.fbcdn.net/hphotos-prn1/57368_452838854757339_392190938_o.jpg','https://sphotos-a.xx.fbcdn.net/hphotos-snc7/317166_452838924757332_791648078_n.jpg','https://sphotos-a.xx.fbcdn.net/hphotos-ash4/304426_452838991423992_27408457_n.jpg','https://sphotos-b.xx.fbcdn.net/hphotos-snc6/285628_452841131423778_1861887565_n.jpg',
							'https://sphotos-a.xx.fbcdn.net/hphotos-ash4/379134_452839021423989_1849480173_n.jpg',
							'https://sphotos-b.xx.fbcdn.net/hphotos-snc6/196211_452839088090649_1524547673_n.jpg',
							'https://sphotos-b.xx.fbcdn.net/hphotos-ash3/557737_452839111423980_505162905_n.jpg',
							'https://sphotos-a.xx.fbcdn.net/hphotos-ash3/66535_452839181423973_2083820954_n.jpg',
							'https://sphotos-a.xx.fbcdn.net/hphotos-ash4/398296_452839218090636_464794859_n.jpg',
							'https://sphotos-a.xx.fbcdn.net/hphotos-snc6/254349_452839688090589_1926126192_n.jpg',
							'https://sphotos-b.xx.fbcdn.net/hphotos-ash4/398174_452839314757293_1859922083_n.jpg',
							'https://sphotos-a.xx.fbcdn.net/hphotos-ash3/521746_452839398090618_1518245067_n.jpg',
							'https://sphotos-a.xx.fbcdn.net/hphotos-prn1/554047_452839488090609_1802158194_n.jpg',
							'https://sphotos-b.xx.fbcdn.net/hphotos-ash4/311203_452839621423929_1220919996_n.jpg',
							'https://sphotos-a.xx.fbcdn.net/hphotos-prn1/69701_452839758090582_1725494219_n.jpg',
							'https://sphotos-a.xx.fbcdn.net/hphotos-prn1/548420_452839794757245_2090776037_n.jpg',
							'https://sphotos-b.xx.fbcdn.net/hphotos-snc6/254243_452839854757239_646283630_n.jpg',
							'https://sphotos-b.xx.fbcdn.net/hphotos-ash4/384348_452839921423899_544016575_n.jpg',
							'https://sphotos-a.xx.fbcdn.net/hphotos-ash4/602441_452839731423918_1989778424_n.jpg',
							'https://sphotos-b.xx.fbcdn.net/hphotos-ash4/394982_452840254757199_1008845576_n.jpg',
							'https://sphotos-b.xx.fbcdn.net/hphotos-snc6/254236_452840704757154_1615134990_n.jpg',
							'https://sphotos-a.xx.fbcdn.net/hphotos-ash4/3614_452840791423812_1217964652_n.jpg',
							'https://sphotos-a.xx.fbcdn.net/hphotos-ash4/374861_452841018090456_738020911_n.jpg',
							'https://sphotos-a.xx.fbcdn.net/hphotos-snc6/270590_452841408090417_207884184_n.jpg',
							'https://sphotos-b.xx.fbcdn.net/hphotos-ash3/533586_452841231423768_2047473278_n.jpg',
							'https://sphotos-a.xx.fbcdn.net/hphotos-ash3/552193_452842311423660_1058057761_n.jpg',
							'https://sphotos-a.xx.fbcdn.net/hphotos-ash3/29387_452842464756978_669766464_n.jpg',
							'https://sphotos-a.xx.fbcdn.net/hphotos-ash4/480282_452842534756971_910635559_n.jpg',
							'https://sphotos-b.xx.fbcdn.net/hphotos-prn1/30977_452842581423633_201398336_n.jpg',
							'https://sphotos-a.xx.fbcdn.net/hphotos-prn1/534733_452842741423617_1837219625_n.jpg']
				

                $(document).ready(function () {
                                $('.dropdown-toggle').dropdown();
								var i;
								for (i=0;i<garbaimages.length;i++) {
									$("#photo_gallery_container").append("<a href=\""+ garbaimages[i] +"\" ><img style=\"padding-right:2px; padding-left:2px; padding-bottom:4px\" src=\""+garbapreviewimages[i]+"\"\></a>")
								}

                });
    </script>
	<script src="js/slides.min.jquery.js"></script>



</head>


<body background="">
    
    <div class="navbar navbar-inverse navbar-fixed-top center">
        <div class="navbar-inner">
            <div class="container">
                <ul class="nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li class="dropdown" id="accountmenu">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Events<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/raas">Raas Garba</a></li>
							<li><a href="/diwali">Diwali Banquet</a></li>
							<li><a href="/holi">Holi</a></li>
                        </ul>
                    </li>
                    <li><a href="/membership">Membership</a></li>
                    <li class="dropdown" id="accountmenu">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Media<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/photos">Photo Gallery</a></li>
                           <li>&nbsp&nbsp&nbsp&nbsp&nbspVideos</li>
                        </ul>
                    </li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/council">Council</a></li>
                    <!-- <li class="dropdown" id="accountmenu">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Tutorials<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">PHP</a></li>
                            <li><a href="#">MySQL</a></li>
                            <li class="divider"></li>
                            <li><a href="#">JavaScript</a></li>
                            <li><a href="#">HTML5</a></li>
                        </ul>
                    </li> -->
                </ul>
            </div>
        </div>
    </div>
    
    
    
    

		
		    


<div id="belowNavContainer">
    

<div class="heading">Raas Garba 2012</div>
	<div id="photo_gallery_container">
	
	
	
	
	
	
	
	
	
	
	
	
	
	</div>

</div>






    
</div>

</body>
</html>


