/* pushes the page to the full capacity of the viewing area */
body {
	font-family: sans-serif !important;
    background: url('/images/indiagate-1024.jpg') no-repeat fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
	background-position:center; 
	height: 100%;
}

.navbar-links {
    width: 450px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.navbar-brand {
	font-size: 18px !important;
}

a:link {
    color: White !important;
}
a:hover {
	color: White !important;
}

a:visited {
	color: White !important;
}

.navbar-header {
	text-align: center;
	padding-right: 20px !important;
}

#welcome {

	color: White;
	font-size: 26px !important;
    width:40%;
    margin-left: auto ;
    margin-right: auto ;
	color: white; text-shadow: gray 0.1em 0.1em 0.2em;
}

#belowNavContainer {
    margin-left: auto ;
    margin-right: auto ;
	width: 60%;
	background-color: black;
	position: relative;
	top: 100%;
    padding-top: 60px;
}
.heading {
	color: white; text-shadow: gray 0.1em 0.1em 0.2em;
    font-size: 30px;
    margin-left: auto ;
    margin-right: auto ;
    text-align: center;
    padding-bottom: 20px;
}
.description {
    width:60%;
    margin-left: auto ;
    margin-right: auto ;
}
p {
	color: White;
}