<!DOCTYPE html>
<html>
  <head>
    <title>Indian Student Association</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
	 <link href="stylesheet.css" rel="stylesheet" type="text/css"/>
    <link href="bootstrap3/css/bootstrap.min.css" rel="stylesheet" media="screen">
	
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="bootstrap3/js/bootstrap.js"></script>
    <script type="text/javascript" src="bootstrap3/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="bootstrap3/js/bootstrap-dropdown.js"></script>
	        <link href="bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
		<script src="js/slides.min.jquery.js"></script>
  </head>
  
  <body>
		  <img height="45" width="80" src="/img/banner.png" style="position:fixed; top:5px; left:20px; z-index: 3;"/>
		  
		  <!-- NAVIGATION BAR-->
		  <nav class="navbar-wrapper transparent navbar-inverse navbar-fixed-top" role="navigation" style="background-color:rgba(0,0,0,0.7) !important; z-index: 2;">
		    <div class="container-fluid">
		      <!-- Brand and toggle get grouped for better mobile display -->
		      <div class="navbar-header">
		        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		          <span class="sr-only">Toggle navigation</span>
		          <span class="icon-bar"></span>
		          <span class="icon-bar"></span>
		          <span class="icon-bar"></span>
		        </button>
		        <a class="navbar-brand" href="#"></a>
		      </div>

		      <!-- Collect the nav links, forms, and other content for toggling -->
		      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				  <div style="width:35%; float:left; color:black;">|</div>
		        <ul style="float:left;" class="nav navbar-nav navbar-left">
		          <li><a href="/">Home</a></li>
				  <li><a href="/photos">Photos</a></li>
		          <li class="dropdown">
		            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Events <b class="caret"></b></a>
		            <ul class="dropdown-menu">
		              <li><a href="/raas">Raas Garba</a></li>
		              <li><a href="/diwali">Diwali</a></li>
		              <li><a href="/taste">Taste of India</a></li>
					  <li><a href="/holi">Holi</a></li>
		            </ul>
		          </li>
				  <li><a href="/council">Council</a></li>
		        </ul>
		      </div><!-- /.navbar-collapse -->
		    </div><!-- /.container-fluid -->
		  </nav>
		  
		  <!--
		  <nav class="navbar-wrapper navbar-default navbar-fixed-top" role="navigation" style="background-color:rgba(0,0,0,0.7); z-index: 2;">
		          <div class="container">
		            <div class="navbar-header">
		             	
		            </div>
					<div class="navbar-links">
		            	<div class="navbar-header">
		              	  <a class="navbar-brand" href="/">Home</a>
		            	</div>
		            	<div class="navbar-header">
		              <a class="navbar-brand" href="/photos">Photos</a>
		            	</div>
		            	<div class="navbar-header">
		            		<a class="navbar-brand" href="#">Events</a>
		            	</div>
		            	<div class="navbar-header">
		            		<a class="navbar-brand" href="/council">Council</a>
		            	</div>
					</div>	
		          </div>
		  
	  </nav> -->

			   <!-- END NAVIGATION BAR-->

 <div id="belowNavContainer">
    

 <div class="heading">Taste of India</div>
 <div class="event_image_preview">
 	<center>
 	<img width="24.5%" src="https://sphotos-a.xx.fbcdn.net/hphotos-prn1/553253_4985862118254_1523568914_n.jpg"/>
 	<img width="24.5%" src="https://sphotos-a.xx.fbcdn.net/hphotos-ash3/601597_4985812397011_316194175_n.jpg"/>
 	<img width="24.5%" src="https://sphotos-b.xx.fbcdn.net/hphotos-ash3/524634_4985888798921_251255347_n.jpg"/>
 	<img width="24.5%" src="https://sphotos-b.xx.fbcdn.net/hphotos-ash4/299893_4985819557190_58168532_n.jpg"/>
 	</center><br>
 	<p style="width: 50%; margin-left: auto; margin-right: auto ;"><b style="font-size:18px; font-weight:bold;">Taste of India</b><br>
 		Taste of India is one of ISA's more casual events of the year. It is a simple event created to bring together the South Asian community and beyond through classical Indian games such as Karem board to more modern games with Indian twists to them such as a Pani Puri eating competition, Bollywood Jeopardy and a casual hangout for the Fifa soccer game. Students come and enjoy the various snacks we provide including pani puri to samosas including their traditional mixes with classical Indian sauces (chutneys). Not only does one get a "taste" of India literally, but also one gets a good sense of the communal bonding ISA is able to foster through the games and even the final karaoke session we put on at the end. Anyone who comes leaves with seeing new faces, a good bite to eat and a great sense of the India's rich culture.  
		
 	</p>
	
	
 </div>






    
 </div>
  
  </body>
</html>